*.jl.cov
*.jl.*.cov
*.jl.mem
*.pdf
examples/.ipynb_checkpoints
cache
.#*
*.mem
Manifest.toml
.ipynb_checkpoints
# *.ipynb
todo

# Documentation
docs/build/
# Mac temporaries
*.DS_Store
# package logo
!docs/src/assets/*.png
# vim swap files
*.swp
*.jld2
*.jld
notebooks/Untitled.ipynb
OHP_blue_gold.gif
src\tmp.gif
*.svg
*.gif
